
/* repeating class section */

.small-icons {
    width:20px;
    height:20px;
    margin:10px;
}

.links {
    text-decoration:none;
    font-family:Arial, sans-serif;
    font-size:16px;
    color:gray;
    padding:10px 10px;
}

.links:hover {
    color:blue;
}

.nav-icon {
    width:20px;
    height: 20px;
    padding-top:14px;
    padding-right: 3px;
    margin-left: 5px;
    filter: invert(50%);
}

.nav-icon:hover {
    filter: invert(20%);
}

/* header section */

body {
    background-color:#fff;
    font-family:Arial, sans-serif;
}

header {
    border-bottom:1px #00000026 solid;
    max-height:20vh;
    padding-bottom: 20px;
}

#head-bar {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:15px 10px 10px 15px;
    margin:10px 5px 20px 5px;
}

#logo {
    width:92px;
    height:30px;
    margin-top: 20px;
}

#div-search-bar {
    width: 45vw;
    height: 43px;
    border-radius:28px;
    border: 1px #00000026 solid;
    margin-left: -35vw;
    display:flex;
    flex-direction: row;
    justify-content: start;
}

#div-search-bar:hover {
    box-shadow: 1px 1px 1px 3px #80808033;
}

#search-bar {
    width: 38vw;
    height: 38px;
    border: none;
    margin: 0px 20px 0px 20px;
}

#stack-icon {
    width:25px; 
    height:25px;
}

#user-icon {
    background-color: #7988dc;
    border-radius: 50%;
    color:white;
    width: 18px;
    height: 19px;
    text-align: center;
    font-size:18px;
    text-decoration:none;
    padding:9px 13px 9px 13px;
    margin: 9px 13px 9px 13px;
}

nav {
    width:50vw;
    margin-left: 10vw;
    display: flex;
    flex-direction:row;
    align-content: center;
}

nav div:last-child {
    padding-top:18px;
    margin-left:10px;
}


/* Main body section */

main {
    margin-left:11vw;
    max-width: 45vw;
    font-family: Arial, sans-serif;

}
main div:first-child {
    color:gray;
}

.search-result {
    margin-top: 30px;
}

.web-add {
    color:#000000c4;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.3;
}

.web-link {
    text-decoration: none;
    color:blue;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
}
.web-link:hover {
    text-decoration:underline;
}

.web-descript {
    color:#000000c4;
    font-size: 17px;
    margin: 5px 0px 20px 0px;
}



