
/* repeating class section */

.smallIcons {
    width:20px;
    height:20px;
    margin:10px;
}

.links {
    text-decoration:none;
    font-family:Arial, sans-serif;
    font-size:16px;
    color:gray;
    padding:10px 10px;
}

.links:hover {
    color:blue;
}

.navIcon {
    width:20px;
    height: 20px;
    padding-top:14px;
    padding-right: 3px;
    margin-left: 5px;
    filter: invert(50%);
}

.navIcon:hover {
    filter: invert(20%);
}

/* header section */

body {
    background-color:#fff;
    font-family:Arial, sans-serif;
}

header {
    border-bottom:1px #00000026 solid;
    max-height:20vh;
    padding-bottom: 20px;
}

#headBar {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:15px 10px 10px 15px;
    margin:10px 5px 20px 5px;
}

#logo {
    width:92px;
    height:30px;
    margin-top: 20px;
}

#divSearchBar {
    width: 45vw;
    height: 43px;
    border-radius:28px;
    border: 1px #00000026 solid;
    margin-left: -35vw;
    display:flex;
    flex-direction: row;
    justify-content: start;
}

#divSearchBar:hover {
    box-shadow: 1px 1px 1px 3px #80808033;
}

#searchBar {
    width: 38vw;
    height: 38px;
    border: none;
    margin: 0px 20px 0px 20px;
}

#stackIcon {
    width:25px; 
    height:25px;
}

#userIcon {
    background-color: #7988dc;
    border-radius: 50%;
    color:white;
    width: 18px;
    height: 19px;
    text-align: center;
    font-size:18px;
    text-decoration:none;
    padding:9px 13px 9px 13px;
    margin: 9px 13px 9px 13px;
}

nav {
    width:50vw;
    margin-left: 10vw;
    display: flex;
    flex-direction:row;
    align-content: center;
}

nav div:last-child {
    padding-top:18px;
    margin-left:10px;
}


/* Main body section */

main {
    margin-left:11vw;
    max-width: 45vw;
    font-family: Arial, sans-serif;

}
main div:first-child {
    color:#808080;
}

.borderResult, #boxedResult ul {
    border: 1px #80808069 solid;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    margin: 5px -15px 5px -15px;
}

.searchResult {
    margin-top: 30px;
}

.webAdd {
    color:#000000c4;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.3;
}

.webLink {
    text-decoration: none;
    color:#1a0dab;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
}
.webLink:hover {
    text-decoration:underline;
}

.webDescript {
    color:#000000c4;
    font-size: 17px;
    margin: 5px 0px 20px 0px;
}

#boxedResult ul {
    list-style-type: none;
    padding: 20px 10px 10px 10px;
    margin: 5px -15px 5px -15px
    
}  

#boxedResult ul li {
    padding: 10px 10px 10px 10px;
    margin:1px -10px 10px -10px;
}

#boxedResult ul::first-line {
    font-size: 20px;

}

#boxedResult ul li:not(:first-child){
    font-size: 18px;
    border-top:1px #80808069 solid;
}

/* search releated section */

.sectionHead {
    font-size: 23px;
    margin:30px 0px 10px 0px;
}

#searchRelated{
    display: flex;
    flex-direction: row;
}

.columnLinks{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 0px;
    
}
.columnLinks a{
    color: #1a0dab;
    text-decoration: none;
    margin: 10px 10px 0px 0px;
    font-weight: 600;
}
